<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.dao.CustomerinfoMapper" >
  <resultMap id="BaseResultMap" type="com.icss.bean.Customerinfo" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="market" property="market" jdbcType="VARCHAR" />
    <result column="collectiontime" property="collectiontime" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="intentionjob" property="intentionjob" jdbcType="VARCHAR" />
    <result column="registrant" property="registrant" jdbcType="VARCHAR" />
    <result column="entrydate" property="entrydate" jdbcType="DATE" />
    <result column="workexperience" property="workexperience" jdbcType="VARCHAR" />
    <result column="birthdate" property="birthdate" jdbcType="VARCHAR" />
    <result column="residence" property="residence" jdbcType="VARCHAR" />
    <result column="domicile" property="domicile" jdbcType="VARCHAR" />
    <result column="politics" property="politics" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="marriage" property="marriage" jdbcType="VARCHAR" />
    <result column="worklife" property="worklife" jdbcType="INTEGER" />
    <result column="workplace" property="workplace" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ctypeid" property="ctypeid" jdbcType="INTEGER" />
    <result column="clabelid" property="clabelid" jdbcType="INTEGER" />
    <result column="validityid" property="validityid" jdbcType="INTEGER" />
    <result column="distribution" property="distribution" jdbcType="VARCHAR" />
    <result column="signletimr" property="signletimr" jdbcType="TIMESTAMP" />
    <result column="follownum" property="follownum" jdbcType="INTEGER" />
    <result column="lastfollowtime" property="lastfollowtime" jdbcType="TIMESTAMP" />
    <result column="lastfollowup" property="lastfollowup" jdbcType="VARCHAR" />
    <result column="nowcoursepeople" property="nowcoursepeople" jdbcType="VARCHAR" />
    <result column="oldcoursepeople" property="oldcoursepeople" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="followupMap" type="com.icss.bean.Followup" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="fcontent" property="fcontent" jdbcType="VARCHAR" />
    <result column="fremind" property="fremind" jdbcType="VARCHAR" />
    <result column="fpeople" property="fpeople" jdbcType="VARCHAR" />
    <result column="ftime" property="ftime" jdbcType="TIMESTAMP" />
    <result column="fnexttime" property="fnexttime" jdbcType="TIMESTAMP" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap type="com.icss.bean.Customertype" id="CtypeMap">
  	<id column="ctypeid" property="ctypeid" jdbcType="INTEGER"/>
  	<result column="ctypename" property="ctypename" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="BespeakMap" type="com.icss.bean.Bespeak" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bintent" property="bintent" jdbcType="VARCHAR" />
    <result column="baddress" property="baddress" jdbcType="VARCHAR" />
    <result column="bteacher" property="bteacher" jdbcType="VARCHAR" />
    <result column="bcontents" property="bcontents" jdbcType="VARCHAR" />
    <result column="bvisit" property="bvisit" jdbcType="INTEGER" />
    <result column="bappotime" property="bappotime" jdbcType="TIMESTAMP" />
    <result column="barritime" property="barritime" jdbcType="TIMESTAMP" />
    <result column="bactualtime" property="bactualtime" jdbcType="TIMESTAMP" />
    <result column="bperson" property="bperson" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, name, sex, tel, email, school, major, education, market, collectiontime, source, 
    channel, intentionjob, registrant, entrydate, workexperience, birthdate, residence, 
    domicile, politics, nation, marriage, worklife, workplace, salary, remark, ctypeid, 
    clabelid, validityid, distribution, signletimr, follownum, lastfollowtime, lastfollowup, 
    nowcoursepeople, oldcoursepeople
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customerinfo
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customerinfo
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icss.bean.Customerinfo" >
    insert into customerinfo (cid, name, sex, 
      tel, email, school, 
      major, education, market, 
      collectiontime, source, channel, 
      intentionjob, registrant, entrydate, 
      workexperience, birthdate, residence, 
      domicile, politics, nation, 
      marriage, worklife, workplace, 
      salary, remark, ctypeid, 
      clabelid, validityid, distribution, 
      signletimr, follownum, lastfollowtime, 
      lastfollowup, nowcoursepeople, oldcoursepeople
      )
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{market,jdbcType=VARCHAR}, 
      #{collectiontime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{intentionjob,jdbcType=VARCHAR}, #{registrant,jdbcType=VARCHAR}, #{entrydate,jdbcType=DATE}, 
      #{workexperience,jdbcType=VARCHAR}, #{birthdate,jdbcType=VARCHAR}, #{residence,jdbcType=VARCHAR}, 
      #{domicile,jdbcType=VARCHAR}, #{politics,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{marriage,jdbcType=VARCHAR}, #{worklife,jdbcType=INTEGER}, #{workplace,jdbcType=VARCHAR}, 
      #{salary,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{ctypeid,jdbcType=INTEGER}, 
      #{clabelid,jdbcType=INTEGER}, #{validityid,jdbcType=INTEGER}, #{distribution,jdbcType=VARCHAR}, 
      #{signletimr,jdbcType=TIMESTAMP}, #{follownum,jdbcType=INTEGER}, #{lastfollowtime,jdbcType=TIMESTAMP}, 
      #{lastfollowup,jdbcType=VARCHAR}, #{nowcoursepeople,jdbcType=VARCHAR}, #{oldcoursepeople,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 新增数据   -->
  <insert id="insertSelective" parameterType="com.icss.bean.Customerinfo" >
  	<!-- 查看是否存在tel,如果存在及更新，否则插入 -->  
  	<selectKey keyProperty="cid" resultType="int" order="BEFORE">    
        select count(*) as cid from customerinfo where tel = #{tel,jdbcType=VARCHAR}  
    </selectKey>
  	<!-- 如果大于0则更新 -->    
    <if test="cid > 0">    
    	update customerinfo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="market != null" >
        market = #{market,jdbcType=VARCHAR},
      </if>
      <if test="collectiontime != null" >
        collectiontime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="intentionjob != null" >
        intentionjob = #{intentionjob,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null" >
        registrant = #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        entrydate = #{entrydate,jdbcType=DATE},
      </if>
      <if test="workexperience != null" >
        workexperience = #{workexperience,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        birthdate = #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null" >
        domicile = #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="politics != null" >
        politics = #{politics,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="worklife != null" >
        worklife = #{worklife,jdbcType=INTEGER},
      </if>
      <if test="workplace != null" >
        workplace = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ctypeid != null" >
        ctypeid = #{ctypeid,jdbcType=INTEGER},
      </if>
      <if test="clabelid != null" >
        clabelid = #{clabelid,jdbcType=INTEGER},
      </if>
      <if test="validityid != null" >
        validityid = #{validityid,jdbcType=INTEGER},
      </if>
      <if test="distribution != null" >
        distribution = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="signletimr != null" >
        signletimr = #{signletimr,jdbcType=TIMESTAMP},
      </if>
      <if test="follownum != null" >
        follownum = #{follownum,jdbcType=INTEGER},
      </if>
      <if test="lastfollowtime != null" >
        lastfollowtime = #{lastfollowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastfollowup != null" >
        lastfollowup = #{lastfollowup,jdbcType=VARCHAR},
      </if>
      <if test="nowcoursepeople != null" >
        nowcoursepeople = #{nowcoursepeople,jdbcType=VARCHAR},
      </if>
      <if test="oldcoursepeople != null" >
        oldcoursepeople = #{oldcoursepeople,jdbcType=VARCHAR},
      </if>
    </set>
    where tel = #{tel,jdbcType=VARCHAR}
    </if>  
    <!-- 如果等于0则保存 -->    
    <if test="cid==0">   
	    insert into customerinfo
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="cid != null" >
	        cid,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="sex != null" >
	        sex,
	      </if>
	      <if test="tel != null" >
	        tel,
	      </if>
	      <if test="email != null" >
	        email,
	      </if>
	      <if test="school != null" >
	        school,
	      </if>
	      <if test="major != null" >
	        major,
	      </if>
	      <if test="education != null" >
	        education,
	      </if>
	      <if test="market != null" >
	        market,
	      </if>
	      <if test="collectiontime != null" >
	        collectiontime,
	      </if>
	      <if test="source != null" >
	        source,
	      </if>
	      <if test="channel != null" >
	        channel,
	      </if>
	      <if test="intentionjob != null" >
	        intentionjob,
	      </if>
	      <if test="registrant != null" >
	        registrant,
	      </if>
	      <if test="entrydate != null" >
	        entrydate,
	      </if>
	      <if test="workexperience != null" >
	        workexperience,
	      </if>
	      <if test="birthdate != null" >
	        birthdate,
	      </if>
	      <if test="residence != null" >
	        residence,
	      </if>
	      <if test="domicile != null" >
	        domicile,
	      </if>
	      <if test="politics != null" >
	        politics,
	      </if>
	      <if test="nation != null" >
	        nation,
	      </if>
	      <if test="marriage != null" >
	        marriage,
	      </if>
	      <if test="worklife != null" >
	        worklife,
	      </if>
	      <if test="workplace != null" >
	        workplace,
	      </if>
	      <if test="salary != null" >
	        salary,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	      <if test="ctypeid != null" >
	        ctypeid,
	      </if>
	      <if test="clabelid != null" >
	        clabelid,
	      </if>
	      <if test="validityid != null" >
	        validityid,
	      </if>
	      <if test="distribution != null" >
	        distribution,
	      </if>
	      <if test="signletimr != null" >
	        signletimr,
	      </if>
	      <if test="follownum != null" >
	        follownum,
	      </if>
	      <if test="lastfollowtime != null" >
	        lastfollowtime,
	      </if>
	      <if test="lastfollowup != null" >
	        lastfollowup,
	      </if>
	      <if test="nowcoursepeople != null" >
	        nowcoursepeople,
	      </if>
	      <if test="oldcoursepeople != null" >
	        oldcoursepeople,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="cid != null" >
	        #{cid,jdbcType=INTEGER},
	      </if>
	      <if test="name != null" >
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="sex != null" >
	        #{sex,jdbcType=VARCHAR},
	      </if>
	      <if test="tel != null" >
	        #{tel,jdbcType=VARCHAR},
	      </if>
	      <if test="email != null" >
	        #{email,jdbcType=VARCHAR},
	      </if>
	      <if test="school != null" >
	        #{school,jdbcType=VARCHAR},
	      </if>
	      <if test="major != null" >
	        #{major,jdbcType=VARCHAR},
	      </if>
	      <if test="education != null" >
	        #{education,jdbcType=VARCHAR},
	      </if>
	      <if test="market != null" >
	        #{market,jdbcType=VARCHAR},
	      </if>
	      <if test="collectiontime != null" >
	        #{collectiontime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="source != null" >
	        #{source,jdbcType=VARCHAR},
	      </if>
	      <if test="channel != null" >
	        #{channel,jdbcType=VARCHAR},
	      </if>
	      <if test="intentionjob != null" >
	        #{intentionjob,jdbcType=VARCHAR},
	      </if>
	      <if test="registrant != null" >
	        #{registrant,jdbcType=VARCHAR},
	      </if>
	      <if test="entrydate != null" >
	        #{entrydate,jdbcType=DATE},
	      </if>
	      <if test="workexperience != null" >
	        #{workexperience,jdbcType=VARCHAR},
	      </if>
	      <if test="birthdate != null" >
	        #{birthdate,jdbcType=VARCHAR},
	      </if>
	      <if test="residence != null" >
	        #{residence,jdbcType=VARCHAR},
	      </if>
	      <if test="domicile != null" >
	        #{domicile,jdbcType=VARCHAR},
	      </if>
	      <if test="politics != null" >
	        #{politics,jdbcType=VARCHAR},
	      </if>
	      <if test="nation != null" >
	        #{nation,jdbcType=VARCHAR},
	      </if>
	      <if test="marriage != null" >
	        #{marriage,jdbcType=VARCHAR},
	      </if>
	      <if test="worklife != null" >
	        #{worklife,jdbcType=INTEGER},
	      </if>
	      <if test="workplace != null" >
	        #{workplace,jdbcType=VARCHAR},
	      </if>
	      <if test="salary != null" >
	        #{salary,jdbcType=DECIMAL},
	      </if>
	      <if test="remark != null" >
	        #{remark,jdbcType=VARCHAR},
	      </if>
	      <if test="ctypeid != null" >
	        #{ctypeid,jdbcType=INTEGER},
	      </if>
	      <if test="clabelid != null" >
	        #{clabelid,jdbcType=INTEGER},
	      </if>
	      <if test="validityid != null" >
	        #{validityid,jdbcType=INTEGER},
	      </if>
	      <if test="distribution != null" >
	        #{distribution,jdbcType=VARCHAR},
	      </if>
	      <if test="signletimr != null" >
	        #{signletimr,jdbcType=TIMESTAMP},
	      </if>
	      <if test="follownum != null" >
	        #{follownum,jdbcType=INTEGER},
	      </if>
	      <if test="lastfollowtime != null" >
	        #{lastfollowtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="lastfollowup != null" >
	        #{lastfollowup,jdbcType=VARCHAR},
	      </if>
	      <if test="nowcoursepeople != null" >
	        #{nowcoursepeople,jdbcType=VARCHAR},
	      </if>
	      <if test="oldcoursepeople != null" >
	        #{oldcoursepeople,jdbcType=VARCHAR},
	      </if>
	    </trim>
	   </if>
  </insert>
  
  <!-- 查看所有客户简历信息  -->
  <select id="allresume" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	SELECT <include refid="Base_Column_List" /> FROM customerinfo ORDER BY entrydate DESC ,signletimr 
  </select>
  
  <!-- 分配客户给课程顾问 -->
  <update id="distributionInfo" parameterType="com.icss.bean.Customerinfo">
  	UPDATE customerinfo SET 
  		distribution=#{distribution,jdbcType=VARCHAR},signletimr=#{signletimr,jdbcType=TIMESTAMP}, 
  		oldcoursepeople=nowcoursepeople,nowcoursepeople=#{nowcoursepeople,jdbcType=VARCHAR}
  	 WHERE cid=#{cid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.bean.Customerinfo" >
    update customerinfo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="market != null" >
        market = #{market,jdbcType=VARCHAR},
      </if>
      <if test="collectiontime != null" >
        collectiontime = #{collectiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="intentionjob != null" >
        intentionjob = #{intentionjob,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null" >
        registrant = #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        entrydate = #{entrydate,jdbcType=DATE},
      </if>
      <if test="workexperience != null" >
        workexperience = #{workexperience,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        birthdate = #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null" >
        domicile = #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="politics != null" >
        politics = #{politics,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="worklife != null" >
        worklife = #{worklife,jdbcType=INTEGER},
      </if>
      <if test="workplace != null" >
        workplace = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ctypeid != null" >
        ctypeid = #{ctypeid,jdbcType=INTEGER},
      </if>
      <if test="clabelid != null" >
        clabelid = #{clabelid,jdbcType=INTEGER},
      </if>
      <if test="validityid != null" >
        validityid = #{validityid,jdbcType=INTEGER},
      </if>
      <if test="distribution != null" >
        distribution = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="signletimr != null" >
        signletimr = #{signletimr,jdbcType=TIMESTAMP},
      </if>
      <if test="follownum != null" >
        follownum = #{follownum,jdbcType=INTEGER},
      </if>
      <if test="lastfollowtime != null" >
        lastfollowtime = #{lastfollowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastfollowup != null" >
        lastfollowup = #{lastfollowup,jdbcType=VARCHAR},
      </if>
      <if test="nowcoursepeople != null" >
        nowcoursepeople = #{nowcoursepeople,jdbcType=VARCHAR},
      </if>
      <if test="oldcoursepeople != null" >
        oldcoursepeople = #{oldcoursepeople,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.bean.Customerinfo" >
    update customerinfo
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      market = #{market,jdbcType=VARCHAR},
      collectiontime = #{collectiontime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      intentionjob = #{intentionjob,jdbcType=VARCHAR},
      registrant = #{registrant,jdbcType=VARCHAR},
      entrydate = #{entrydate,jdbcType=DATE},
      workexperience = #{workexperience,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=VARCHAR},
      residence = #{residence,jdbcType=VARCHAR},
      domicile = #{domicile,jdbcType=VARCHAR},
      politics = #{politics,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=VARCHAR},
      worklife = #{worklife,jdbcType=INTEGER},
      workplace = #{workplace,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      ctypeid = #{ctypeid,jdbcType=INTEGER},
      clabelid = #{clabelid,jdbcType=INTEGER},
      validityid = #{validityid,jdbcType=INTEGER},
      distribution = #{distribution,jdbcType=VARCHAR},
      signletimr = #{signletimr,jdbcType=TIMESTAMP},
      follownum = #{follownum,jdbcType=INTEGER},
      lastfollowtime = #{lastfollowtime,jdbcType=TIMESTAMP},
      lastfollowup = #{lastfollowup,jdbcType=VARCHAR},
      nowcoursepeople = #{nowcoursepeople,jdbcType=VARCHAR},
      oldcoursepeople = #{oldcoursepeople,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  
  <!-- 查看所有课程顾问列表 -->
  <select id="nowcoursepeopleselect" resultMap="CtypeMap">
  	SELECT username ctypename from users
  </select>
  <!-- 查看所有来源渠道列表 -->
  <select id="sourceselect" resultMap="CtypeMap">
  	SELECT DISTINCT source ctypename from customerinfo
  </select>
  <!-- 查看所有渠道明细列表 -->
  <select id="channelselect" resultMap="CtypeMap">
  	SELECT DISTINCT channel ctypename from customerinfo
  </select>
  <!-- 查看所有意向课程列表 -->
  <select id="intentionjobselect" resultMap="CtypeMap">
  	SELECT DISTINCT intentionjob ctypename from customerinfo
  </select>
  <!-- 查看客户类型列表 -->
  <select id="customertypeselect" resultMap="CtypeMap">
  	SELECT ctypeid,ctypename FROM customertype
  </select>
  <!-- 查看客户有效性列表 -->
  <select id="validityselect" resultMap="CtypeMap">
  	SELECT validityid ctypeid, validityname ctypename FROM validity
  </select>
  <!-- 查看客户标签列表 -->
  <select id="customerlabelselect" resultMap="CtypeMap">
  	SELECT clabelid ctypeid,clabelname ctypename FROM customerlabel
  </select>
  
  <!-- 查看所有来源渠道-->
  <select id="sourceandchannel" resultMap="CtypeMap">
  	SELECT scdid ctypeid,scdname ctypename FROM sourcechanneldetail WHERE scdupid=#{scdupid,jdbcType=INTEGER}
  </select>
  
  <!-- 查看所有课程 -->
  <select id="allcoure" resultMap="CtypeMap">
  	SELECT icname ctypename FROM intentionjob 
  </select>
  
  <!-- 预约目的 -->
   <select id="purpose" resultMap="CtypeMap">
   		SELECT purposename ctypename FROM purpose
   </select>
   
   <!-- 接待校区 -->
    <select id="receptionaddress" resultMap="CtypeMap">
   		SELECT receptionname ctypename FROM receptionaddress
   </select>
  
  <!-- 多条件查询简历信息 -->
  <select id="Screen" resultMap="BaseResultMap" parameterType="com.icss.bean.Customerinfo">
  	SELECT  <include refid="Base_Column_List" /> FROM customerinfo WHERE 1=1
      <if test="source != null and source != ''">
        and source = #{source,jdbcType=VARCHAR}
      </if>
      <if test="channel != null and channel !=''" >
        and channel = #{channel,jdbcType=VARCHAR}
      </if>
      <if test="intentionjob != null  and intentionjob !=''" >
        and intentionjob = #{intentionjob,jdbcType=VARCHAR}
      </if>
      <if test="entrydate != null and signletimr != null" >
        and entrydate between #{entrydate,jdbcType=DATE} and  #{signletimr,jdbcType=TIMESTAMP}
      </if>
      <if test="validityid != null  and validityid !=''" >
        and validityid = #{validityid,jdbcType=INTEGER}
      </if>
      <if test="ctypeid != null  and ctypeid !=''" >
        and ctypeid = #{ctypeid,jdbcType=INTEGER}
      </if>
      <if test="nowcoursepeople != null and nowcoursepeople !=''" >
        and nowcoursepeople = #{nowcoursepeople,jdbcType=VARCHAR}
      </if>
      <if test="clabelid != null and clabelid !=''" >
        and clabelid = #{clabelid,jdbcType=INTEGER}
      </if>
      <if test="remark != null and remark !=''" >
       ORDER BY #{remark,jdbcType=VARCHAR} DESC
      </if>
  </select> <!-- 多条件查询简历信息 结束-->
  
   <!-- 跟进客户历史信息  -->
   <select id="followuphistory" resultMap="followupMap" parameterType="java.lang.Integer">
   		SELECT fid, fcontent, fremind, fpeople, ftime, fnexttime, cid FROM followup WHERE cid=#{cid,jdbcType=INTEGER}
   </select>
   
   <!-- 有效性的 -->
   <select id="validity" parameterType="java.lang.Integer" resultMap="CtypeMap">
   	SELECT v.validityid ctypeid, validityname ctypename FROM validity v LEFT JOIN (
		SELECT * FROM customerinfo WHERE cid=#{cid,jdbcType=INTEGER} )c 
		ON c.validityid=v.validityid ORDER BY name DESC
   </select>
   <!-- 客户分类的 -->
   <select id="customertype" parameterType="java.lang.Integer" resultMap="CtypeMap">
   	SELECT v.ctypeid,ctypename FROM customertype v LEFT JOIN (
		SELECT * FROM customerinfo WHERE cid=#{cid,jdbcType=INTEGER} )c 
		ON c.ctypeid=v.ctypeid ORDER BY name DESC
   </select>
   <!-- 客户新增跟进记录 -->
   <insert id="followupsubmit" parameterType="com.icss.bean.Followup">
   	insert into followup (fcontent, fremind, fpeople, ftime, fnexttime,cid)
    values ( #{fcontent,jdbcType=VARCHAR}, #{fremind,jdbcType=VARCHAR}, 
      #{fpeople,jdbcType=VARCHAR}, #{ftime,jdbcType=TIMESTAMP}, #{fnexttime,jdbcType=TIMESTAMP}, 
      #{cid,jdbcType=INTEGER})
   </insert>
   <!-- 新增一条预约记录 -->
   <insert id="ordersubmits" parameterType="com.icss.bean.Bespeak">
   	insert into bespeak ( bintent, baddress, bteacher, bcontents, bvisit, 
      bappotime, barritime, bactualtime, bperson, cid)
    values (#{bintent,jdbcType=VARCHAR}, #{baddress,jdbcType=VARCHAR}, 
      #{bteacher,jdbcType=VARCHAR}, #{bcontents,jdbcType=VARCHAR}, #{bvisit,jdbcType=INTEGER}, 
      #{bappotime,jdbcType=TIMESTAMP}, #{barritime,jdbcType=TIMESTAMP}, #{bactualtime,jdbcType=TIMESTAMP}, 
      #{bperson,jdbcType=VARCHAR},#{cid,jdbcType=INTEGER})
   </insert>
   <!-- 预约记录   -->
   <!-- <select id="orderrecord" parameterType="java.lang.Integer" resultMap="BespeakMap">
   	 select bid, bintent, baddress, bteacher, bcontents, bvisit, bappotime, 
   	 barritime, bactualtime, bperson, cid
    from bespeak
    where cid = #{cid,jdbcType=INTEGER}
   </select> -->
   
</mapper>